name: Tests

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
  release:
    types:
      - created

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: true
      matrix:
        node-version: 16.x
        stability: [prefer-stable]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --${{ matrix.stability }}

      - name: Execute tests
        run: yarn test
